<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Budget Item</h1>
      <form action="/budget" method="POST">

        <input type="date" name="date" id="date"/>

        <input placeholder="amount" type="text" name="amount" id="amount" />

        <input placeholder="name" input="text" name="name" id="name" />
        <input type="submit" value="budget Item">
      </form>

    </div>
<script src="/js/app.js" charset="utf-8"></script>
  </body>
</html>
