* {
  box-sizing: border-box;
  border: 1px solid gold;
}

body {
  height: vh;
  width: vw;
  background-color: lightblue;
}

.display {
  height: 200px;
  width: 400px;
  background-color: rgb(37 46 61);
}
.container {
  display: flex;
  flex-direction: column;

}
.row {
  display:  flex;

  }

.box {
height: 100px;
width: 100px;
}

p {
  text-align: right;

}

.box.orange {
  background-color: rgb(255 147 42);
}

.zero {
  flex
}
