* {
  box-sizing: border-box;
}

body {
  height: vh;
  width: vw;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

div{
  display: flex;
  flex-direction: column;
}
.sizeColor {
  background-color: red;
  cursor: pointer;
  height: 100px;
  width: 100px;
}
.szColor {
  background-color: black;
  cursor: pointer;
  height: 100px;
  width: 100px;
}
