
/* * {
  border: 1px solid gold;
} */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: RGB(243	243	243);
}

.img-container {
  background-image: url('imgs/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;

}

.img-container h6{
  background-color: white;
  color: pink;
  padding-top: 0;
  margin-top: 0;

}

.nav-top {
  background-color: rgb(133	163	164);
  display: flex;
  justify-content: space-around;
  height: 3em;
  margin-bottom: 12px;
  padding-top: 1.5em;
}
  .nav-top a {
    text-decoration: none;
    color: white;
  }

.row1 {
  display: flex;
  align-content: space-around;
}

.row2 {
  display: flex;
  align-content: space-around;
}

.row3 {
  display: flex;
  align-content: space-around;
}

.flower img {
  width: 100%;
}

.flower {
  margin: 15px;
  /* flex-grow:  1;
  flex-basis: auto;
  box-sizing: border-box; */
}

.flower-price {
  display: flex;
  justify-content: space-between;
}

.bottom-nav {
  display: flex;
  justify-content:space-around;
  color: rgb(80 80 80);
  font-weight: lighter;
  font-size: 12px;

}

.gray {
  background-color: rgb(235 235 235);
}

.pink {
  color: white;
  background-color: pink;
}

footer {
  display: flex;
justify-content: space-around;
background-color: rgb(235	235	235);
}

.left {
  display flex;
  flex-direction: column;
  justify-content: center;
}

.middle {
  display flex;
  flex-direction: column;
}

.right {
  display flex;
  flex-direction: column;
}
.logo {

  height: 50px;
  width: 50px;
}

 .pink-2 {
   color: pink;
 }

.green {
  color: rgb(133 163	164);
}

.grey-2 {
  font-weight: lighter;
  font-color: rgb(81	81	81);
  font-size: 12px;
}

.social-media {
  display: flex;
  color: rgb(133 163	164);
}
