* {
  border: 1px solid gold;
}


.container {
  display: flex
  flex-direction: column;
  background-color = pink;
}

.head {
  height: 200px;
  background-color: lightblue;
  margin: 12px;

}

.middle {
  height: 400px;
  background-color: lightyellow;
  margin: 12px;
}

.bottom {
  height: 200px;
  background-color: lightgray;
  margin: 12px;
}

p {
  text-align: center;

}

/* styles for desktop when the browser is 500px or above */
@media (min-width: 500px){
  .head {
    background-color: purple;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }

    .head {
      flex-grow: 3;
      width: 800px;
    }
  .middle {
    flex-grow: 2;
    align-self: flex-end;
    width: 400px;
  }

  .bottom {
    flex-grow: 2;
    align-self: flex-end;
    width: 200px;
    height: 400px;
  }
}
