body {
  text-align: center;
  margin:  auto;
  color: white;
}

table {
  width: 450px;
  height:500px;

}

.orange {
  background-color: orange;

}

#display {
  background-color: rgb(40 40 43);
  color: white;
  width: 450px;
  height: 100px;
}

td {
  background-color: rgb(123 124 126);
  margin: 0;
  padding: 0;
}

tr {
  margin: 0;
  padding: 0;
}
