<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mongoose Store</title>
  </head>
  <body>

      <header>
        <a href="/views/new">Add a New Product</a>
        <h3>Products</h3>
      </header>
      <div class="container">
      <div class="product">
        <% for (let i = 0; i < products.length; i++) { %>
          <p> <%= products[i].name %> </p>
          <p> Price: <%= products[i].price %> </p>
          <p> Qty: <%= products[i].qty %> </p>
        <%  if qty = 0 { %>
            <p>Out of Stock</p>
        <%  } %>
      <%  } %>

      </div>

      <div class="product">

      </div>
      <div class="Product">

      </div>
    </div>
  </body>
</html>
