body {
  margin: 0;
}

.top-pic {
  background-image: img/sailboat.jpg;
  brackground-repeat: no-repeat
  background-size: cover;
  height: 55w;
  display:flex;
  align-items: center;
  justify-content: center
}


section {
  display: flex;
  /*background: yellow;*/
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin 20px;
}

div {

  /*box-sizing: border-box;*/
}

.topnav {
  background-color: black;
  width: 900px;
  height: 100px;

}

a {
  color: white;
}

.top (
  width: 800px;
  )

  .banner {
    margin: 20px;
  }

  footer {
padding-top: 100px;
margin 20px;
  }

.img-column {
  height: 300px;
  width: 300px;
}
