<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Pokemon</title>
  </head>
  <body>
    <h1>New Pokemon Page</h1>
      <form action="/pokemon" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"/>
        <label for="hp">hp</label>
        <input type="text" name="hp" id="hp"/>
        <label for="attack">attack</label>
        <input type="text" name="attack" id="attack"/>
        <label for="defense">defense</label>
        <input type="text" name="defense" id="defense"/>
        <input type="submit" value="Create Pokemon">
        </form>
  </body>
</html>
