<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      body {
        background: lightblue;
        color: black;
      }

      li {
        text-transform:capitalize;
      }
    </style>
    <title></title>
  </head>
  <body>
    <h1>Welcome to Gitpub</h1>
    <ul>
      <% for (let i = 0; i <allDrinks.length; i++) { %>
        <li>
          <a href="/drinks/<%=i%>">
          <%= allDrinks[i].name %>
          </a>
          </li>
        <% } %>
    </ul>
  </body>
</html>
