* {
  /* border: 1px solid red;*/ */
  margin: 0;
  padding: 0;
}

body {
  background: #DDDDDD;
}

Ul {
display: flex;
justify-content: flex-end;
list-style: none;
}

li {
  text-transform: uppercase;
text-decoration: none;
background: #DDDDDD;
padding: 6px;
margin: 10px;
/* border: 2px solid #494949; */
display: inline-block;
transition: all 0.4s ease 0s;

 li a:hover {
color: #ffffff;
background: #f6b93b;
border-color: #f6b93b;
transition: all 0.4s ease 0s;
}


}

a {
  text-decoration: none;
}

/* li a { text-decoration: none; color:#000; }
li a:visited { text-decoration: none; color:#000; }
li a:hover { text-decoration: none; color:#000; }
li a:focus { text-decoration: none; color:#000; }
li a:hover, .navBtn:active { text-decoration: none; color:#000; } */
