<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Captains Log</title>
  </head>
  <body>
    <h1>Captains Log index page</h1>
      <nav>
          <a href="/logs/new">Create a New Log</a>
      </nav>
      <table>
        <tr>
          <%for (let i = 0; i < logs.length; i++) { %>
            <td><form action="/logs/<%=logs[i].id%>?_method=DELETE" method="post">
              <input type="submit" value="DELETE"/>
            </form></td>
            <td>
              <a href="/logs/<%=logs[i].id%>"><%=logs[i].title%></a>
            </td>

            <td><a href="/logs/<%=logs[i].id%>/edit/">Edit </a></td>
        </tr>
            <%  } %>
  </body>
</html>
